[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vitality-vim"]
	path = vim/bundle/vitality-vim
	url = git://github.com/sjl/vitality.vim.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-classpath"]
	path = vim/bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule "vim/bundle/vim-clojure-static"]
	path = vim/bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "vim/bundle/vim-ledger"]
	path = vim/bundle/vim-ledger
	url = git://github.com/ledger/vim-ledger.git
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "vim/bundle/vim-paredit"]
	path = vim/bundle/vim-paredit
	url = git://github.com/vim-scripts/paredit.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-golang"]
	path = vim/bundle/vim-golang
	url = git@github.com:jnwhiteh/vim-golang.git
[submodule "vim/bundle/vim-colorschemes"]
	path = vim/bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule "vim/bundle/csapprox"]
	path = vim/bundle/csapprox
	url = git@github.com:godlygeek/csapprox.git
[submodule "vim/bundle/vim-gnupg"]
	path = vim/bundle/vim-gnupg
	url = git@github.com:jamessan/vim-gnupg.git
[submodule "vim/bundle/vim-hdevtools"]
	path = vim/bundle/vim-hdevtools
	url = https://github.com/bitc/vim-hdevtools.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/vim-projectionist"]
	path = vim/bundle/vim-projectionist
	url = git@github.com:tpope/vim-projectionist.git
[submodule "vim/bundle/vim-salve"]
	path = vim/bundle/vim-salve
	url = git@github.com:tpope/vim-salve.git
[submodule "vim/bundle/vim-fsharp"]
	path = vim/bundle/vim-fsharp
	url = git@github.com:fsharp/vim-fsharp.git
